doctype html
html
  include ../view_header.pug
  body
    h1= 'Welcome ' + user_name
    a(href='localhost:3000/create_test') Create Test
    a(href='localhost:3000/add_modify_que') Add/Modify Que
    include ../view_footer.pug